<p id="notice"><%= notice %></p>

<div class="">
  <b>Game ID: <%= @game.id %></b><br>
  <b>Current Round: <%= @game.rounds.count %></b>
</div>

<div class="">
  <b>Current Players:</b>
</div>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Current credits</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.current_credits %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- <%= link_to 'Edit', edit_game_path(@game) %> -->
<%= link_to 'Back', games_path %>
